/*----- Color : #f39c12 -----*/

/*----- BASIC SETUP -----*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color:#555;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size:20px;
    text-rendering: optimizeLegibility;
}

.row{
    max-width:1140px;
    margin: 0 auto;
}

/*------ HEADER -----*/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover; /* I want to see whole image */
    background-position: center;
    background-attachment: fixed; /* Image will be sticked to the position */
    height:100vh;
}

.hero-text-box{
    position: absolute;
    width:1140px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%); /* translate ele to half of it's length and width */
}

h1{
    margin:0;
}
